<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.hendrawd.beyondthekotlinbasics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.LeveragingKotlinExtensionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.CallingExtensionFunctionFromJava"/>
        <activity
            android:name=".view.FunctionActivity"
            android:label="@string/title_activity_function"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".view.InfixActivity">
        </activity>
        <activity android:name=".view.IsValReallyImmutableActivity"/>
        <activity android:name=".view.OperatorOverloadingActivity">
        </activity>
        <activity android:name=".view.ReturnsActivity">
        </activity>
        <activity android:name=".view.OthersActivity">
        </activity>
    </application>

</manifest>